<h1>Add A New Zodiac</h1>

<form action="http://localhost:3000/create_zodiac">

  <div>
    <label for="sign">Sign:</label>

    <select name="sign" id="sign">
      <option>aries</option>
      <option>taurus</option>
      <option>cancer</option>
      <option>gemini</option>
      <option>pisces</option>
      <option>scorpio</option>
    </select>

  </div>
  <div>
  <label for="creature">Creature:</label>
    <input id="creature" type="text" name="creature" placeholder="Enter the creature">
  </div>
  <div>
    <label for="fortune">Fortune:</label>
    <textarea id="fortune" name="fortune" placeholder="Enter the fortune"></textarea>
  </div>

  <div>
    <input type="submit" value="Add Zodiac">
  </div>
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
