<!DOCTYPE html>
<html>
<head>
  <title>FortuneTeller</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li><a href="http://localhost:3000/lucky">Lucky Numbers</a></li>
    <li><a href="http://localhost:3000/unlucky">Unlucky Numbers</a></li>
    <li><a href="http://localhost:3000/signs/aries">Aries</a></li>
    <li><a href="http://localhost:3000/signs/taurus">Taurus</a></li>
    <li><a href="http://localhost:3000/signs/gemini">Gemini</a></li>
    <li><a href="http://localhost:3000/signs/cancer">Cancer</a></li>
    <li><a href="http://localhost:3000/signs/leo">Leo</a></li>
    <li><a href="http://localhost:3000/signs/virgo">Virgo</a></li>
    <li><a href="http://localhost:3000/signs/libra">Libra</a></li>
    <li><a href="http://localhost:3000/signs/scorpio">Scorpio</a></li>
    <li><a href="http://localhost:3000/signs/sagittarius">Sagittarius</a></li>
    <li><a href="http://localhost:3000/signs/capricorn">Capricorn</a></li>
    <li><a href="http://localhost:3000/signs/aquarius">Aquarius</a></li>
    <li><a href="http://localhost:3000/signs/pisces">Pisces</a></li>
  </ul>

  <%= yield %>
</body>
</html>
